.bubble-code-input {
  width: 75%;
  height: 60%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: black;
  text-align: center;
}

.joinbutton {
  color: rgb(13, 65, 30);
  width: 100px;
  font-weight: bold;
  margin-right: 0px;
}
.joinbutton:hover {
  background-color: rgb(227, 255, 237);
}

.enter-bubble-section {
  background-color: #1c7445;
  padding: 5px 75px 0px 75px;
  margin-bottom: 30px;
  border-radius: 10px;
}