.bubble-code-input {
  width: 75%;
  height: 60%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: black;
}

.joinbutton {
  color: rgb(13, 65, 30);
  width: 100px;
  font-weight: bold;
}
.joinbutton:hover {
  background-color: rgb(227, 255, 237);
}
