

.username{
    margin-left: 180px;
    font-size: 20px;
}

.join-button {
  color: black;
}

.spacing-between {
  display: flex;
  gap: 20px; /* Adjust the space as needed */
  justify-content: center;
}