.bubble-code-input {
  width: 75%;
  height: 60%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: black;
}

.joinbutton {
  color: rgb(13, 65, 30);
  width: 90px;
  font-weight: bold;
  margin-right: 23px;
}
.joinbutton:hover {
  background-color: rgb(227, 255, 237);
}

.buttontext {
  color: black;
  font-size: 20px;
}
.returnbutton {
  color: rgb(13, 65, 30);
  font-size: 15px;
  font-weight: bold;
  padding-left: 20px;
}
.returnbutton:hover {
  background-color: rgb(227, 255, 237);
}

.join-bubble-card {
  background-color: #1c7445;
  padding: 5px 75px 25px 75px;
  border-radius: 10px;
}