.user_home_title {
  text-align: center;
  margin-top: -100px;
}

.bubbles {
  text-align: center;
  color: black;
}

.bubble-button {
  border-radius: 0;
  color: black;
  width: 100%;
  margin: 5px 0px;
  border-radius: 10px;
}

.bubble-name {
  color: black;
  margin-left: 250px;
}

.join_button,
.create_button {
  color: black;
  font-size: 20px;
}

.friend-group-section {
  background-color: rgb(19, 100, 46);
  padding: 5px 75px 25px 75px;
  border-radius: 10px;
}
